@import "../../style/mixins.scss";

.bookmarked_article {
  display: flex;
  margin: 0.5rem 0;
  position: relative;
  transform-origin: top;
  .delete_overlay {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0;
    z-index: 2;
    &.remove {
      transform: scaleY(1);
      animation: deleteSequence 190ms ease;
    }
  }

  &--undo_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    animation: undoFadeIn 600ms ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    &.stop {
      opacity: 0;
      animation: undoFadeOut 200ms ease-in;
    }
  }
  .countdown_bar {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    transform-origin: 0;
    transform: scaleX(1);
    background-color: var(--error);
    animation: scaleCountdown 5s linear;
    &.stop {
      transform: scaleX(0);
      animation-direction: reverse;
    }
  }
  &--text_content {
    text-align: left;
    margin-right: 0.2rem;
    background: none;
    h2 {
      @include headline-text;
      color: var(--main-dark);
      font-size: 1.05rem;
      line-height: 1.25rem;
      margin: 4px 0;
    }
    p {
      @include body-text;
      color: var(--lightest-text);
      font-size: 0.925rem;
      line-height: 1.15rem;
    }
    p.date {
      font-size: 0.6rem;
    }
  }
  &--control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    button {
      width: 2rem;
      height: 2rem;
      background-color: var(--error);
      border-radius: 1rem;
      svg{
        margin-top: 0.115rem;
      }
    }
  
  }
}

@keyframes scaleCountdown {
  0% {
    transform: scaleX(0);
    background-color: var(--background-green);
  }
  100% {
    transform: scaleX(1);
    background-color: var(--error);
  }
}

@keyframes undoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes undoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes deleteSequence {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes minimizeArticle {
  0% {
    max-height: 400px;
    margin: 2px 0;
  }
  100% {
    max-height: 0px;
    margin: -10px 0;
  }
}
