@import "../../style/mixins.scss";

.modal_base {
  background-color: rgb(88, 77, 77);
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .modal_middle {
    background-color: var(--white);
    z-index: 1;
    width: 95%;
    border-radius: 0.3rem;
    padding: 1.75rem;
    position: relative;
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
    @include small--768px-and-up {
      max-width: 30rem;
    }
    .close_button {
      position: absolute;
      z-index: 2;
      right: 0.2rem;
      top: 0.2rem;
      height: 1.5rem;
      width: 1.5rem;
      background: none;
      &:hover {
        svg {
          color: var(--next-main-dark);
        }
      }
      svg {
        height: 100%;
        width: 100%;
        color: var(--main-dark);
        transition: color 200ms ease;
      }
    }
  }
}

// Headline version
.modal_headline {
  background-color: var(--darkest);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 1.5rem 0;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  h1 {
    font-size: 1.875rem;
    text-align: center;
    @include headline-text-black;
  }
  h6 {
    @include body-text;
    color: rgb(179, 179, 179);
    letter-spacing: 0.1875rem;
    text-align: center;
    font-size: 0.625rem;
    margin-top: -0.125rem;
    text-transform: uppercase;
  }
  &-text_white {
    color:var(--white);
  }
  &-text_yellow {
    color:var(--accent-yellow);
  }
}


.modal_middle.headline {
  padding: 0;
  border-radius: 0.3rem;
  .close_button {
    svg {
      color: var(--white);
    }
  }
  .close_button:hover {
    svg {
      color:var(--white-three);
    }
  }
}
