@import "../../style/mixins.scss";

.headline_wrap {
  min-height: 5rem;
  height: fit-content;
  &--initial,&--submit {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
  }
  .create_acct_button {
    background: none;
    @include body-text;
    letter-spacing: var(--body-letter-spacing);
    font-size: 1rem;
    text-align: center;
    width: 100%;
    color: var(--lightest-text);
    @include small--768px-and-up {
      margin-top: 2rem;
    }
    span {
      display: inline-block; // keep span as a unit-break on newline.
      text-decoration: underline;
      font-style: italic;
    }
  }
  &-back_btn {
    margin: 0 auto;
  }
}