@import "../../style/mixins.scss";

.modal_password_wrap {
  overflow: hidden;
  .top_frame {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .headline_wrap {
      min-height: 5rem;
      overflow: hidden;
      transition: min-height 200ms ease;
    }
  }
  .button_on_submit {
    padding-top: 1rem;
    max-height: 0px;
    overflow: hidden;
    margin: 0 auto;
    width: fit-content;
    transition: max-height 800ms ease;
  }

  .bottom_frame {
    max-height: 20rem;
    opacity: 1;
    &-inner {
      margin-top: 2.5rem;
    }
    .create_acct_button {
      margin-top: 1rem;
      background: none;
      @include body-text;
      letter-spacing: var(--body-letter-spacing);
      font-size: 1rem;
      text-align: center;
      width: 100%;
      color: var(--lightest-text);
      span {
        text-decoration: underline;
        font-style: italic;
      }
    }
  }
  &.submit {
    .headline_wrap {
      min-height: 2.125rem;
    }
    .button_on_submit {
      max-height: 10rem;
    }
    .bottom_frame {
      animation: passwordInitFadeOut 300ms ease forwards;
    }
  }
}

@keyframes passwordInitFadeOut {
  0% {
    opacity: 1;
    max-height: 20rem;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}
