@import "../../style/mixins.scss";

.modal_base {
  background-color: rgb(88, 77, 77);
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .modal_middle {
    background-color: var(--white);
    width: 95%;
    border-radius: 0.3rem;
    padding: 1.75rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .close_button {
      position: absolute;
      right: 0.2rem;
      top: 0.2rem;
      height: 1.5rem;
      width: 1.5rem;
      background: none;
      &:hover {
        svg {
          color: var(--next-main-dark);
        }
      }
      svg {
        height: 100%;
        width: 100%;
        color: var(--main-dark);
        transition: color 200ms ease;
      }
    }
  }
}
