@import "../../style/mixins.scss";

.modal_base {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  // max-height: 100%;
  width: 100%;
  left: 0;
  .modal_middle {
    max-width: 30rem;
    width: 95%;
    // flex: 1;
    background-color: var(--white);
    z-index: 1;
    // margin: 0 2%;
    margin: 0 auto;
    border-radius: 0.3rem;
    padding: 1.75rem;
    position: relative;
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
    @include small--768px-and-up {
      // min-width: 30rem;
      // max-width: 90%;
    }
    .close_button {
      position: absolute;
      z-index: 2;
      right: 0.2rem;
      top: 0.2rem;
      height: 1.5rem;
      width: 1.5rem;
      background: none;
      &:hover {
        svg {
          color: var(--next-main-dark);
        }
      }
      svg {
        height: 100%;
        width: 100%;
        color: var(--main-dark);
        transition: color 200ms ease;
      }
    }
  }
}

// Headline version
.modal_headline {
  background-color: var(--darkest);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0.25rem 0 0.75rem;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  @include small--768px-and-up {
    padding: 0.85rem 0 1.5rem;
  }
  h1 {
    @include headline-text-black;
    font-size: 1.5rem;
    padding-left: 2rem;
    @include small--768px-and-up {
      padding: 0;
      font-size: 1.875rem;
      text-align: center;
    }
  }
  h6 {
    @include body-text;
    color: rgb(179, 179, 179);
    text-transform: uppercase;
    padding-left: 2rem;
    font-size: 0.55rem;
    letter-spacing: 0.125rem;
    @include small--768px-and-up {
      padding: 0;
      letter-spacing: 0.1875rem;
      text-align: center;
      font-size: 0.625rem;
      margin-top: -0.125rem;
    }
  }
  &-text_white {
    color: var(--white);
  }
  &-text_yellow {
    color: var(--accent-yellow);
  }
}

.modal_middle.headline {
  padding: 0;
  border-radius: 0.3rem;
  .close_button {
    svg {
      color: var(--white);
    }
  }
  .close_button:hover {
    svg {
      color: var(--white-three);
    }
  }
  .text_button_base {
    width: unset;
  }
}
