@import "../../style/mixins.scss";

.modal_main_new_acct {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  &-input_wrap-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &-input_wrap-instructions {
    @include body-text;
    letter-spacing: var(--body-letter-spacing);
    color: var(--next-main-dark);
    font-size: 0.8rem;
    width: fit-content;
    margin: 10px auto 0.75rem;
    li {
      list-style: disc;
      list-style-position: inside;
    }
  }
  &-lower_buttons > button {
    margin: 1rem 0 0;
    width: 100%;
  }
}
