@import "../../style/mixins.scss";

.article_group {
  &--ul {
    display: grid;
    background-color: var(--background);
    grid-auto-flow: row dense;
  }

  &-tablet {
    display: none;
  }
  &-mobile {
    display: block;
    margin: 2px;
  }

  @include small--768px-and-up {
    &--ul {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
    &-mobile {
      display: none;
    }
    &-tablet {
      display: block;
      margin: 0 2.5px 5px;
    }
    &-tablet.two_wide {
      margin: 0 2.5px 5px;
      grid-column: span 2;
    }
  }

  @include med--960px-and-up {
    &--ul {
      grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
    &-mobile {
      display: none;
    }
    &-tablet {
      display: block;
      margin: 0 2.5px 5px;
    }
    &-tablet.three_wide {
      margin: 0 2.5px 5px;
      grid-column: span 2;
    }
  }
  @include lg--1280px-and-up {
    &--ul {
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
    &-mobile {
      display: none;
    }
    &-tablet {
      display: block;
      margin: 0 2.5px 5px;
    }
    &-tablet.four_wide {
      margin: 0 2.5px 5px;
      grid-column: span 2;
    }
  }
  @include xl--1920px-and-up {
    &--ul {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
    &-mobile {
      display: none;
    }
    &-tablet {
      display: block;
      margin: 0 2.5px 5px;
    }
    &-tablet.five_wide {
      margin: 0 2.5px 5px;
      grid-column: span 2;
    }
  }
}
