@import "../../style/mixins.scss";

.non_clickable_label {
  @include body-text;
  color: var(--main-dark);
  &.--large {
    font-size: 1.95rem;
  }
  &.--medium {
    font-size: 1.8rem;
  }
  &.--small_medium {
    font-size: 1.5rem;
  }
  &.--small {
    font-size: 1.1875rem;
    color: var(--lightest-text);
  }
  &.--x_small {
    font-size: 1.125rem;
    color: var(--lightest-text);
  }
}
