@import "../../style/mixins.scss";

.auto_save {
  &_base {
    @include body-text;
    font-size: 0.875rem;
    letter-spacing: var(--body-letter-spacing);
  }
  &_inner {
    height: 1.125rem;
    // background-color: bisque;
    position: relative;
    overflow: hidden;
    &_wrapper {
      position: absolute;
      transition: top 300ms ease-in-out;
      .is-saved {
        color: var(--green-text);
        transition: opacity 600ms ease-in-out;
      }
      .saving {
        color: var(--accent-blue);
        transition: opacity 600ms ease-in-out;
        margin: 20px 0;
      }
      .error {
        color: var(--error);
        transition: opacity 600ms ease-in-out;
      }
    }
  }
}
