@import "../../style/mixins.scss";

.auto_save {
  &_base {
    @include body-text;
    font-size: 0.75rem;
    text-align: center;
    display: inline-block;
    position: relative;
  }
  &_inner {
    overflow: hidden;
    height: 0.9rem;
    width: fit-content;
    position: relative;
  }
  &_inner_wrapper {
    transition: transform 500ms ease;
    &.saved {
      transform: translateY(0);
    }
    &.is_saving {
      transform: translateY(-1.9rem);
    }
    &.error {
      transform: translateY(-3.85rem);
    }
    .condition {
      opacity: 0;
      margin-bottom: 1rem;
      transform-origin: center,left;
      transform: scale(0.8);
      transition: opacity 500ms ease-out, transform 500ms ease-out, scale 500ms ease-out;
      &.saved {
        color: var(--green-text);
      }
      &.is_saving {
        color: var(--accent-blue);
      }
      &.error {
        color: var(--error);
      }

      &.active {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
