@import "../../style/mixins.scss";

.section_group_base {
  // height: fit-content;
  overflow-y: hidden;
  overflow-x: scroll;
  top: 0;
  position: sticky;
  z-index: 10;

  background-color: #000;
  // background-color: olivedrab;
  &::-webkit-scrollbar {
    height: 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    // justify-content: safe center;
    margin: 0 auto;
    height: 2.375rem;

    // min-width: 100%;
    width: fit-content;
    margin: 0 auto;
    &::-webkit-scrollbar {
      height: 0;
    }
  }
  li {
    flex-shrink: 0;
    gap: auto;
    // margin: 0 auto;
  }
}
