@import "../../style/mixins.scss";

.section_group_base {
  // height: fit-content;
  overflow-y: hidden;
  overflow-x: scroll;
  top:0;
  position: sticky;
  z-index: 10;
  background-color: #000;
  &::-webkit-scrollbar {
    height:  0;
  }
  ul {
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    justify-content: safe center;
    height: 2.375rem;
    width: fit-content;
    &::-webkit-scrollbar {
      height:  0;
    }
  }
  li {
    flex-shrink: 0;
    display: inline;
    margin: auto;
  }
} 