@import "../../style/mixins.scss";

// .settings_overlay-outer - set in addTopicsOverlay

.settings_overlay-inner {
  position: relative;
  z-index: 1000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  &.show {
    animation: showModal 500ms ease forwards;
  }
  &.hide {
    animation: hideModal 400ms ease forwards;
  }
}

.settings_overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(0px);
  overflow: hidden;
  &.show {
    animation: showModalBackground 500ms ease forwards;
  }
  &.hide {
    animation: hideModalBackground 400ms ease forwards;
  }
}


.settings_overlay-panel {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
}

// @keyframes showModalBackground {
//   0% {
//     background-color: #26262600;
//     backdrop-filter: blur(0px);
//   }
//   100% {
//     background-color: #2626268a;
//     backdrop-filter: blur(3px);
//   }
// }

// @keyframes hideModalBackground {
//   0% {
//     background-color: #2626268a;
//     backdrop-filter: blur(3px);
//   }
//   100% {
//     background-color: #26262600;
//     backdrop-filter: blur(0px);
//   }
// }

// @keyframes showModal {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
// @keyframes hideModal {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
