.settings_portal-base {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  // z-index: 1;
  background-color: rgba(229, 229, 229, 0.861);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  .modal_middle {
    overflow: scroll;
    position: relative;
    max-width: 30rem;
    max-height: 100%;
    width: 95%;
    background-color: var(--white);
    margin: 0 auto;
    height: fit-content;
    border-radius: 0.3rem;
    padding: 1.75rem;
    box-shadow: 
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}
.settings_portal-wrap {
  // z-index: 2;
  display: flex;
  position:absolute;
  left:0;
  right:0;
  height: 100vh;
}

.settings_portal--input_wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}

.settings_overlay-inner:has(.settings_portal-base) {
  overflow: hidden;
}


.settings_portal-input_bottom_wrap {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}
