@import "../../style/mixins.scss";

.settings_panel {
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2rem 0;
  margin: 0 4px;
  z-index: 0;
  height: 100%;
  overflow: auto;

  @include small--768px-and-up {
    margin: 0;
  }

  &-close_button-wrap {
    display: flex;
    justify-content: flex-end;
  }
  .close_button {
    margin-right: -2rem;
    margin-top: -1.5rem;
    margin-bottom: -0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background: none;
    &:hover {
      svg {
        color: var(--next-main-dark);
      }
    }
    svg {
      height: 100%;
      width: 100%;
      color: var(--main-dark);
      transition: color 200ms ease;
    }
  }
  > * {
    margin: 1.5rem 0;
  }
  > :first-child {
    margin: 0;
  }
  >:nth-last-child(2){
    margin-top: 4rem;
    z-index: -1;
    position: relative;
  }
  > :last-child {
    margin-top: 4rem;
  }

  @include small--768px-and-up {
    max-width: 34rem;
    padding: 1rem 3rem 3rem;
  }
}
